@charset "UTF-8";
/* common */
html {
  font-size: 10px; }

.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0);
  clip-path: polygon(0, 0);
  overflow: hidden; }

::selection {
  color: #FF551F;
  background: #FFCCBC; }

*:focus {
  box-shadow: 0 0 3px rgba(255, 85, 31, 0.5); }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #fff; }

main {
  padding: 64px 0; }

/* typography */
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.6rem;
  color: #707070;
  letter-spacing: -0.025em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6, p {
  color: inherit; }

.h1, .h2, .h3 {
  font-weight: 100; }

.h4, .h5 {
  font-weight: 400; }

.h6, .subtitle1 {
  font-weight: 500; }

.h1 {
  font-size: 8rem; }

.h2 {
  font-size: 6.4rem; }

.h3 {
  font-size: 5.2rem; }

.h4 {
  font-size: 4rem; }

.h5 {
  font-size: 3.2rem; }

.h6 {
  font-size: 2.4rem; }

.subTitle1 {
  font-size: 2rem; }

.subTitle2 {
  font-size: 1.6rem;
  font-weight: 700; }

.body1 {
  font-size: 1.6rem; }

.body2 {
  font-size: 1.4rem; }

.caption {
  font-size: 1.2rem; }

.overline {
  font-size: 1rem; }

/* mainTitle */
.mainTitle {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px;
  font-size: 2rem;
  font-weight: 400;
  color: #202020;
  border-bottom: 2px solid #cecece;
  background-color: #fff;
  z-index: 100; }
  .mainTitle span {
    margin-left: 8px;
    font-size: 1.4rem;
    color: #707070; }

/* button */
button {
  color: inherit; }

.btnEdit, .btnDelete {
  width: 32px;
  height: 32px;
  margin: 4px;
  padding-top: 32px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px; }

.btnDelete {
  background-image: url("../img/ico_delete.png"); }

.btnEdit {
  background-image: url("../img/ico_edit.png"); }

[class^=btnBottom] {
  position: absolute;
  bottom: 0;
  padding: 16px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #FF551F;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #FF551F; }

.btnBottom50L, .btnBottom50R {
  width: 50%; }

.btnBottom50L {
  left: 0;
  color: #FF551F;
  border-bottom-right-radius: 0;
  background-color: #fff; }

.btnBottom50R {
  right: 0;
  border-bottom-left-radius: 0; }

.btnBottom100 {
  left: 0;
  right: 0;
  width: 100%; }

/*
.btnClosed {
  position: absolute;
  top: 28px;
  right: 24px;
}

.btn {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
}
.btn.small {
  padding: 0.5em 1em;
  font-size: 1.4rem;
}
.btn.xLarge {
  padding: 0.75em 1.5em;
  font-size: 1.6rem;
  font-weight: 700;
}
.btn.outline.white {
  color: #fff;
  border-color: rgba(255, 255, 255, 1)
}

.btnClosed {
  width: 24px;
  height: 24px;
  padding-top: 24px;
  overflow: hidden;
  background: url('../img/ico_closed.png') no-repeat center;
  background-size: 24px 24px;
}
*/
/* input */
button, input[type="checkbox"], select, a, .indexInput label, .indexInput input[type="radio"] {
  cursor: pointer; }

input[type="text"], input[type="date"], input[type="number"], textarea {
  width: 100%;
  border: 1px solid #cecece;
  color: #707070;
  border-radius: 2px; }

input[type="text"], input[type="number"], textarea {
  padding: 10px 10px 9px; }

input[type="date"] {
  padding: 7px 0 7px 10px; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  padding: 12px 0 11px 10px;
  border: 1px solid #cecece;
  border-radius: 0;
  background: url("../img/ico_arrow.png") no-repeat 97% center #fff;
  background-size: 24px 24px; }

select::-ms-expand {
  display: none; }

input, a, button, select {
  outline: 0; }

/* make select */
.select {
  position: relative;
  color: #202020;
  border: 1px solid #cecece;
  border-radius: 2px; }
  .select .selectTitle, .select .selectList {
    width: 100%;
    margin: 0 auto;
    padding: 11px 8px 10px; }
  .select .selectTitle {
    padding-right: 28px;
    text-align: left;
    background-image: url("../img/ico_arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 24px; }
  .select .selectList {
    position: absolute;
    display: none;
    top: 8px;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #cecece;
    z-index: 100; }
    .select .selectList button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 8px;
      padding: 8px; }
      .select .selectList button .dDay {
        padding-left: 8px;
        font-size: 1.4rem;
        color: #FF551F; }
    .select .selectList li:last-child button {
      margin-bottom: 0; }

/* progress */
.progress {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: #eee;
  overflow: hidden; }

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  max-width: 100%;
  height: 8px;
  background-color: #FF551F;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  animation-name: progressBarStart;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-fill-mode: both; }

@keyframes progressBarStart {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  10% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* 중요도 표시 아이콘 */
.icoImp {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding-top: 24px;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  overflow: hidden;
  vertical-align: top; }

.icoImp {
  background-image: url("../img/ico_imp_off.png"); }

.red .icoImp.impCheck {
  background-image: url("../img/ico_imp_on_red.png"); }

.yellow .icoImp.impCheck {
  background-image: url("../img/ico_imp_on_yellow.png"); }

.green .icoImp.impCheck {
  background-image: url("../img/ico_imp_on_green.png"); }

.blue .icoImp.impCheck {
  background-image: url("../img/ico_imp_on_blue.png"); }

.purple .icoImp.impCheck {
  background-image: url("../img/ico_imp_on_purple.png"); }

/* navigation */
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 100; }

.btnAddTodo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60px;
  height: 40px;
  padding-top: 40px;
  margin: auto;
  border-radius: 20px;
  background: url("../img/ico_plus_white.png") no-repeat center;
  background-size: 24px 24px;
  background-color: #FF551F;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden; }

.navLink {
  display: flex;
  justify-content: space-around;
  padding: 12px 0; }

.navLink li:nth-child(2) {
  margin-right: 36px; }

.navLink li:nth-child(3) {
  margin-left: 36px; }

.navLink a {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 40px;
  padding: 8px 0;
  font-weight: 500;
  color: #202020;
  text-align: center; }

.navLink .active a::after {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  margin: 4px auto 0;
  background-color: #FF551F;
  border-radius: 4px; }

/* popup */
.popup {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 320px;
  padding: 24px 24px 58px;
  margin: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 200;
  /* timer popup */ }
  .popup .popupTitle {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 400; }
  .popup.active {
    display: block; }
  .popup.active + .dimd {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    z-index: 150;
    overflow: hidden; }
  .popup.timer {
    height: 248px;
    padding-top: 32px; }
    .popup.timer .btnClosed {
      top: 16px;
      right: 16px; }
    .popup.timer .todoTitSet {
      margin-bottom: 16px; }
    .popup.timer .todoTit {
      display: inline-block;
      width: 100%;
      margin-bottom: 0rem;
      font-size: 2.4rem;
      text-align: center;
      color: #202020; }
    .popup.timer .todoSchedule {
      display: inline-block;
      width: 100%;
      text-align: center; }
    .popup.timer .simulationTime {
      width: 190px;
      margin: 0;
      font-size: 4.8rem;
      text-align: center;
      color: #FF551F; }
    .popup.timer .btnStopWatch {
      margin: 0 12px 0 0; }
    .popup.timer .stopTimer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%; }
      .popup.timer .stopTimer .btnStopWatch {
        width: 48px;
        height: 48px;
        padding-top: 48px;
        margin: 4px 12px 0 0;
        background-repeat: no-repeat;
        background-size: 48px;
        background-position: center;
        overflow: hidden; }
      .popup.timer .stopTimer .btnStopWatch.play {
        background-image: url("../img/ico_start_main.png"); }
      .popup.timer .stopTimer .btnStopWatch {
        background-image: url("../img/ico_stop_main.png"); }
  .popup .addInput {
    display: flex;
    flex-wrap: wrap; }
    .popup .addInput > li {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 16px;
      text-align: left; }
      .popup .addInput > li.todoInput {
        width: 232px; }
      .popup .addInput > li.impSelect {
        position: relative;
        width: 40px; }
      .popup .addInput > li.contentInput {
        margin-bottom: 0; }
  .popup.addTodos {
    height: 591px; }
    .popup.addTodos .select {
      width: 100%;
      height: 40px;
      color: #707070; }
    .popup.addTodos .selectTitle {
      width: 97%; }
    .popup.addTodos .selectList {
      top: -1px;
      width: calc(100% + 2px);
      margin-left: -1px; }
    .popup.addTodos .todoInput input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .popup.addTodos .impSelect label {
      width: 39px;
      height: 40px;
      margin-left: -1px;
      padding-left: 39px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: center;
      background-image: url("../img/ico_imp_off.png");
      border: 1px solid #cecece;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
    .popup.addTodos .impSelect input[type="checkbox"] {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      opacity: 0; }
    .popup.addTodos .impSelect input[type="checkbox"]:checked + label {
      background-image: url("../img/ico_imp_on.png"); }
    .popup.addTodos .startDate label, .popup.addTodos .endDate label, .popup.addTodos .startTime label, .popup.addTodos .goalTime label {
      width: 72px;
      flex-shrink: 0;
      text-align: left; }
    .popup.addTodos #startTime {
      margin-right: 8px; }
    .popup.addTodos .contentInput textarea {
      height: 120px; }
  .popup.addGoal {
    height: 362px; }
    .popup.addGoal .indexInput ul {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .popup.addGoal .indexInput ul li {
        position: relative;
        text-align: center; }
        .popup.addGoal .indexInput ul li.red label {
          background-color: #FFDDD2;
          border: 1px solid #FFA98E; }
        .popup.addGoal .indexInput ul li.yellow label {
          background-color: #FFEEC1;
          border: 1px solid #F4C753; }
        .popup.addGoal .indexInput ul li.green label {
          background-color: #C6F2D2;
          border: 1px solid #5FC37C; }
        .popup.addGoal .indexInput ul li.blue label {
          background-color: #BDEAF4;
          border: 1px solid #5CAFC1; }
        .popup.addGoal .indexInput ul li.purple label {
          background-color: #E3D3FD;
          border: 1px solid #A98DD7; }
        .popup.addGoal .indexInput ul li.yellow input[type="radio"]:checked + label {
          background-color: #F4C753; }
        .popup.addGoal .indexInput ul li.red input[type="radio"]:checked + label {
          background-color: #FFA98E; }
        .popup.addGoal .indexInput ul li.green input[type="radio"]:checked + label {
          background-color: #5FC37C; }
        .popup.addGoal .indexInput ul li.blue input[type="radio"]:checked + label {
          background-color: #5CAFC1; }
        .popup.addGoal .indexInput ul li.purple input[type="radio"]:checked + label {
          background-color: #A98DD7; }
        .popup.addGoal .indexInput ul li label {
          display: block;
          width: 40px;
          height: 40px;
          padding-top: 40px;
          border-radius: 20px;
          overflow: hidden;
          background-color: #FF551F; }
        .popup.addGoal .indexInput ul li input {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 40px;
          height: 40px;
          margin-left: -50%;
          margin-top: -50%;
          opacity: 0; }
  .popup.deleteConfirm, .popup.editConfirm {
    height: 160px;
    padding-top: 32px; }
    .popup.deleteConfirm p, .popup.editConfirm p {
      font-size: 2rem;
      color: #202020;
      text-align: center; }
